@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Urbanist", sans-serif;
}

.container {
    display: none;
    width: 100%;
}
@media only screen and (max-width: 600px) {
    .container {
        display: block;
    }
}

.container {
    box-sizing: border-box;
}
.header {
    height: 240px;
    width: 100%;
    background-image: url('public/asset/img/a2ba74fe-8557-498a-a783-e71f3c1e6695.jpeg');
    background-size: cover;
    background-position: -25% 40%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.bg {
    background-color: black;
    width: 100%;
    height: 240px;
    z-index: 1;
    opacity: 0.4;
    position: absolute;
}
.header .logo {
    z-index: 2;
}
.header .logo img {
    width: 260px;
    z-index: 2;
}

.hero {
    background-color: #262627;
    color: white;
    padding: 30px 24px;
    box-sizing: border-box;
}
.hero .title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 4px;
    color: #F0996C;
}
.hero .address {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
}
.hero .description {
    font-size: 18px;
    font-weight: 500;
}

.socmed-list {
    padding: 2px 10px;
    box-sizing: border-box;
    background-color: #f9f9f9;
}
.socmed-list a {
    width: 100%;
    text-decoration: none;
    color: #000000;
}
.socmed-list a .socmed {
    padding: 12px 14px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #bebebe;
}
.socmed-list a .socmed .icon {
    margin-right: 10px;
}
.socmed-list a .socmed .icon img {
    width: 36px;
}
.socmed-list a .socmed .content {
    margin-left: 4px;
}
.socmed-list a .socmed .content .socmed-name {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 1px;
}
.socmed-list a .socmed .content .socmed-description {
    font-weight: 500;
    font: 14px;
    color: #797979;
}